pkgbase = julia-git
	pkgdesc = High-level, high-performance, dynamic programming language
	pkgver = 0.7.0.beta2.r42684.g6476f51886
	pkgrel = 1
	url = https://julialang.org/
	arch = x86_64
	license = MIT
	makedepends = chrpath
	makedepends = cmake
	makedepends = gcc-fortran
	makedepends = gmp>=5.0
	makedepends = gtk-update-icon-cache
	makedepends = python2
	depends = fftw
	depends = hicolor-icon-theme
	depends = libgit2>=0.23
	depends = libunwind
	depends = libutf8proc>=2.1
	depends = mpfr>=4.0
	depends = pcre2>=10.00
	depends = suitesparse>=4.1
	options = !emptydirs
	options = staticlibs
	source = git://github.com/JuliaLang/julia.git#branch=master
	source = julia-libunwind-version.patch
	source = julia-makefile.patch
	sha256sums = SKIP
	sha256sums = 967cac3f9c3d1f41a027dd2c914048c1077dec79cfdc4e9a69f356b7552e6709
	sha256sums = 29b68ecdaf91770585609f54e5559e571d6b57a6312a3e8335caa7d647a2d2ca

pkgname = julia-git
	optdepends = gnuplot: If using the Gaston Package from julia
	provides = julia
	conflicts = julia
	backup = etc/julia/juliarc.jl

pkgname = julia-git-docs
	pkgdesc = Documentation for Julia
	depends = julia
	provides = julia-docs
	conflicts = julia-docs

